{% extends "layouts/base.html" %}
{% block title %}
User Login
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto py-4">
        <div class="card">
            <div class="card-header">
                <h6>Login</h6>
            </div>
            <div class="card-body">
                {% if form.errors %}
                <p class="text-danger">Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if next %}
                {% if user.is_authenticated %}
                <p class="text-warning">
                    Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.
                </p>
                {% else %}
                <p class="text-warning">Please login to see this page.</p>
                {% endif %}
                {% endif %}
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                        <div class="form-group">
                            <label>{{ form.username.label_tag }}</label>
                            <input type="text" name="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>{{ form.password.label_tag }}</label>
                             <input type="password" name="password" class="form-control">
                        </div>
                    <button type="submit" class="btn btn-success">Login</button>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
            <div class="card-footer">
                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
            </div>
        </div>

    </div>
</div>


{% endblock %}